.card {
  border: 1px solid #6d9aec;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  width: 163px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #c5deff;
}
.card h3 {
  margin: 0 0 8px;
}
.conteiner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
}
